.item-count-container{
    position: relative;
    width: 100%;
    height: 5rem; }
    .item-count-container .item-error-msg{
        position: absolute;
        font-size: 1rem;
        color: rgb(102, 7, 7);
        top: calc(0% - 2rem);
        left: 5%; }
    .item-count-container .cart-btn{
        width: 100%;
        height: 50%;
        color: white;
        background-color: var(--main-color-cart);
        border: unset;
        cursor: pointer;
        font-size: 1.1rem;
        letter-spacing: 2px;
        font-family: 'Courgette', sans-serif; }
        .item-count-container .cart-btn:hover{
            background-color: var(--main-color-cart-hover); }
        .item-count-container .cart-btn:active{
            background-color: var(--main-color-cart-active); }
    .item-count-container .cart-btn:disabled{
        cursor: not-allowed;
        background-color: rgba(239, 239, 239, 0.3);
        border-color: rgba(118, 118, 118, 0.3);
        color: rgba(16, 16, 16, 0.3); }
    .item-count-container .item-count-ui{
        display: flex;
        width: 100%;
        height: 50%; }
        .item-count-ui .item-btn{
            width: 25%;
            color: white;
            background-color: var(--header-color-nav-buttons);
            border: unset;
            box-shadow: unset;
            cursor: pointer; }
        .item-count-ui .item-btn:disabled{
            cursor: not-allowed;
            background-color: rgba(239, 239, 239, 0.3);
            border-color: rgba(118, 118, 118, 0.3);
            color: rgba(16, 16, 16, 0.3); }
        .item-count-ui input{
                width: 75%;
                text-align: center;
                font-weight: bold;
                border: unset;
                font-size: 1.2rem;
                color: var(--header-color-nav-items-hover);
                font-family: 'Courgette', sans-serif; }