.item-detail-section{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    padding: 10vh 0 1rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)), url('../../../images/ground.jpg');
    background-size: auto }
    .item-detail-container{
        width: 60%;
        height: 100%;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 10px 10px 5px black; }
        .item-detail-container .detail-container{
            position: relative;
            width: 100%;
            height: 65vh;
            overflow-y: hidden; }
                .item-detail-container .detail-container img{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    object-fit: fill;
                    border-radius: 1rem 1rem 0 0; }
                .detail-attributes{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                right: 0;
                top: 0;
                min-height: 100%;
                width: 20%;
                background-color: rgba(0, 0, 0, .6);
                border-radius: 0 .96rem 0 0; }
                .detail-attributes .attributes{
                    display: flex;
                    flex-direction: column;
                    padding: 0 .5rem .5rem .5rem; }
                    .attributes > *{
                    margin-top: 1rem;
                    color: rgb(201, 199, 209);
                    font-size: 1.1rem; }
                    .attributes h2{
                        letter-spacing: 3px;
                        color: white;
                        font-size: 2rem; }
                    .attributes .price{
                        font-size: 1.5rem; }
                    .attributes .strong{
                        color: var(--header-color-nav-buttons); }
                .detail-attributes .end-btn-container{
                    width: 100%; }
                    .detail-attributes .end-btn-container .end-btn{
                        width: 100%;
                        height: 3rem;
                        position: absolute;
                        opacity: 0;
                        bottom: 0;
                        color: white;
                        background-color: var(--main-color-cart);
                        border: unset;
                        cursor: pointer;
                        font-size: 1.1rem;
                        letter-spacing: 2px;
                        visibility: hidden;
                        font-family: 'Courgette', sans-serif; }
                    .detail-attributes .end-btn-container .end-btn.visible{
                        transition: 1.5s linear;
                        visibility: visible;
                        opacity: 1; }    
        .detail-description{
            padding: 1rem 0 2rem 1rem;
            align-self: flex-start;
            background-color: var(--main-color-background);
            border-radius: 0 0 .8rem .8rem; }
            .detail-description p{
                font-size: 1.3rem;
                color: black; }