.home-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(255, 255, 255, .1)), url("../../../images/vida5.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .home-container .home-section{
        margin: 0 0 0 1rem;
        width: calc(100% - 40vw);
        padding: 2rem;
        background: rgba(0, 0, 0, .5);
        border-radius: 1rem;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 1);
        backdrop-filter: blur(5px); }
        .home-container section:nth-child(2){
            margin-top: 5rem; }
        .home-container .home-title{
            margin-bottom: 1rem; }
            .home-container .home-title span{
                color: whitesmoke;
                font-size: 5rem;
                margin-left: 4px;
                cursor: pointer; }
            .home-container .home-title span:hover{
                position: relative;
                color: var(--header-color-background);
                top: -10px; }
        .home-container h2{
            color: whitesmoke;
            font-size: 3rem;
            letter-spacing: 4px;
            margin-bottom: 1rem; }
        .home-container article{
            font-size: 1.5rem;
            margin-left: 1rem;
            color: var(--header-color-nav-buttons); }
        .home-container p{
            font-size: 1.5rem;
            margin-left: 1rem;
            color: var(--header-color-nav-buttons); }
        .home-container .home-buttons-container{
            margin-top: 4rem;
            max-width: 50%;
            display: flex;
            justify-content: space-around; }
            .home-container .home-buttons-container button{
                padding: .5rem;
                cursor: pointer;
                width: 100%;
                margin: 0 1rem;
                font-family: 'Courgette', sans-serif;
                letter-spacing: 2px;
                font-size: 1rem;
                box-shadow: 3px 3px 4px var(--header-color-nav-buttons);
                border-radius: 1rem;
                border-color: transparent; }
            .home-container .home-buttons-container button:hover{
                    transition: .5s;
                    box-shadow: unset; }
            .home-container .home-buttons-container button:active{
                transition: .5s;
                box-shadow: -2px -2px 4px var(--header-color-nav-buttons); }
                .home-container .home-buttons-container button a{
                    text-decoration: none;
                    color: unset; }
            .home-container .home-buttons-container .button-bon{
                background-color: white;
                color: black;
                box-shadow: 3px 3px 4px var(--main-color-background) }
                .home-container .home-buttons-container .button-bon:active{
                    box-shadow: -2px -2px 4px var(--main-color-background); }
            .home-container .home-buttons-container .button-int{
                background-color: var(--header-color-background);
                color: white; }
            .home-container .home-buttons-container .button-ext{
                background-color: var(--header-color-nav-buttons);
                color: white;
                box-shadow: 3px 3px 4px white }
                .home-container .home-buttons-container .button-ext:active{
                    box-shadow: -2px -2px 4px white }

@media(max-width: 1120px){
    .home-container{
        justify-content: center; }
    .home-container .home-section{
        width: 85%;
        margin: 0; }
}

@media(max-width: 540px){
    html{
        font-size: 12px;
    }

    .home-container h2{
        font-size: 2rem; }
    .home-container .home-title span{
        font-size: 3rem; }
}