.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    z-index: 1;
    background: transparent;
    transition: .5s; }
    .header img{
        position: relative;
        margin: .2rem 2rem }

.header.background{
    transition: .5s;
    background: var(--header-color-background);
}