.header{
    position: fixed;
    top: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    height: 8vh;
    z-index: 10;
    background: transparent;
    transition: .5s; }
    .header .logo{
        position: relative;
        height: 90%;
        width: max-content;
        margin: .2rem 2rem }

.header.scroll{
    transition: .5s;
    background: var(--header-color-background);
    box-shadow: 2px 2px 10px black;
    border-radius: 0 0 1rem 1rem; }


@media(max-width: 1485px){

}
