* {
  margin: 0;
  padding: 0;
}

:root{
  --header-color-nav-buttons: #00BCD4;
  --header-color-nav-items: white;
  --header-color-nav-items-hover: #048091;
  --header-color-nav-items-hover-underline: #00BCD4; 
  --header-color-background: #005005;
  --main-color-background: #4c8c4a;
}

.app{
  height: 100%;
  overflow-x: hidden;
}