.nav-bar{
    width: 80%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav-bar .nav-bar-list{
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center; }
    .nav-bar .nav-bar-list .nav-bar-link{
        margin: 0 1rem;
        padding: .5rem 1rem;
        text-decoration: none;
        font-size: 1.3rem;
        color: var(--header-color-nav-items);
    }
    .nav-bar .nav-bar-list .nav-bar-link::after{
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: center; }
    .nav-bar .nav-bar-list .nav-bar-link:hover{
        color: var(--header-color-nav-items-hover);
        transition: 0.4s; }
    .nav-bar .nav-bar-list .nav-bar-link:hover::after{
        width: 100%;
        transform: scaleX(1);
        background: var(--header-color-nav-items-hover-underline); }
    .nav-bar .nav-bar-list .nav-bar-link.active{
        border-radius: 50%;
        border: 1px solid white;
        background-color: var(--header-color-nav-items-hover-underline); }
    .nav-bar .nav-bar-list .option-login{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.2rem;
        width: 10vw;
        height: 4vh;
        vertical-align: bottom;
        border-radius: .4rem;
        border: 2px solid var(--header-nav-color-login);
        background-color: var(--header-nav-color-login); }


    @media (max-width: 970px) {
        .nav-bar{
            justify-content: space-evenly; }
            .nav-bar .nav-bar-list li{
                margin: 0 1rem; }
        }